
 .span3 .nav {
  margin-top: 100px;
  column-count: 1;
  column-gap: 0;
  display: inline-block;
  border-style: ridge;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  *zoom: 1;
 }




 /* css nav  */
 .nav-list > li > a, .nav-list .nav-header {
    margin-right: 20px;
    margin-left: 20px;
}

.nav > li > a {
    display: block;
    color: #28a745;
}